.footer{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    background-color: rgb(52, 52, 52);
    margin-top: 20px;
    color: white;
    padding: 55px 14% 125px;
}

.info{
    margin-right: 5%;
}

.text-footer{
    width: 100%;
    line-height: 20px;
    margin-bottom: 25px;
    display: flex;
}

.footer-description{
    width: 35%;
    margin-right: 13%;
}

.footer-message{
    position: relative;
}

.message{
    width: 370px;
    height: 50px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    padding-left: 47px;
    padding-right: 75px;
}

.envelope{
    color: rgb(220, 220, 220);
    font-size: 16px !important;
    position: absolute;
    top: 16px;
    left: 16px;
}

.join{
    width: 58px;
    height: 38px;
    border-radius: 2px;
    background-color: rgb(241, 112, 83);
    border: 1px solid rgb(255, 89, 59);
    color: rgb(202, 60, 32);
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    position: absolute;
    top: 7px;
    left: 425px;
}

.join:hover{
    cursor: pointer;
    color: white;
}

.icon-footer{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: rgb(242, 108, 79);
    text-align: center;
    line-height: 54px;
    float: left;
    margin-right: 13px;
    cursor: pointer;
}

.copyright{
    margin-top: 118px;
    color: rgb(170, 170, 170);
}

@media (max-width: 1100px) {
    .footer{
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media (max-width: 910px) {
    .text-footer{
        display: block;
    }
    .footer-message{
        margin-top: 25px;
    }
    .footer-description{
        width: 400px;
    }
    .footer{
        padding-left: 7%;
        padding-right: 7%;
    }
}